.invisible-block {
    display: none !important;
}

.note-block {
    font-style: italic !important;
    font-size: small !important;
    color: #888 !important;
}

#conversejs #converse-roster {
    margin-top: 0.75em !important;
}